* {
  /*text-align: left;*/
  margin-left: auto;
  margin-right: auto;
}
.btnAlign{
  background-color: rgb(19, 71, 243); /* Green */
 
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  border: solid, 5px, black;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.centerThis{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.lefty{
  padding-left: 15px;
  margin-left: 25px;
  margin-right: 25px;
}
s
.fontIncrease{
  font-size: 125%;
}

.container {
  border: solid black 4px;
  border-radius: 5%;
  width: 90%;
  padding-bottom: 15px;
}

.innerDiv{
  width: 100%;
  background-color: rgb(241, 147, 113);
  height: 50px;
}

 


